h1 {
	text-align: center;
	background: #ffffff;
	line-height: 100px;
}

h3 {
	line-height: 10px;
}

#instructions {
	height: auto;
	background: #fff;
}

#winBox {
	height: 50px;
	background: #eab8c9;
}

#loseBox {
	height: 50px;
	background: #b8ecb8;
}

#randomBox {
	height: 100px;
	background: #b9d9ea;
}

#yourBox {
	height: 100px;
	background: #efefbf;
}

#crystals {
	margin: 20px;
}

.crystal {
	width: 100%;
}