.topBar{
	height: 10px;
}

#redBar{
	background: #eab8c9;
}

#blueBar{
	background: #b8d9ea;
}

#yellowBar{
	background: #eeeebe;
}

#greenBar{
	background: #b8ecb8;
}

h1 {
	text-align: center;
	background: #ffffff;
	line-height: 100px;
	margin:20px 0px 20px 0px;
	border: solid 4px #333;
}

h3 {
	line-height: 5px;
}

#heading {
	padding: 0px;
}

#instructions {
	height: auto;
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	border: solid 4px #333;
}

#title {
	margin: 0px 0px 20px 0px;
}

#winBox, #loseBox, #randomBox, #yourBox {
	height: 50px;
	background: #fff;
	border: solid 4px #333;
	margin-bottom: 20px;
}

#crystals {
	margin: 20px;
}

.crystal {
	width: 100%;
}

@media only screen and (max-width: 768px) {
	.body {
		margin: 0px;
		padding: 0px;
	}

	.container {
		padding: 0px 10% 10% 10%;
		width: 100%;
	}

	#displayNumber, #displayPoints {
		line-height: 30px;
		margin: auto;
	}

	#winBox {
		width: 47%;
		margin-right: 3%;
	}

	#loseBox {
		width: 47%;
		margin-left: 3%;
	}

	#randomBox {
		height: 100px;
		width: 47%;
		margin-right: 3%;
	}

	#yourBox {
		height: 100px;
		width: 47%;
		margin-left: 3%;
	}

	#crystals {
		margin: 0px;
	}

	.col-xs-3 {
		padding: 5px;
	}
	

}

